@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header section*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}

/* Sidebar */
.side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
}

.left {
    display: flex;
    align-items: center;
}

.left #menu {
    padding: 0 7px;
    cursor: pointer;
}

.search {
    display: flex;
}

.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}

.search input {
    width: 600px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px
}

input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.search button {
    height: 100%;
    width: 60px;
    border: none;
}

.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}

.content {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.video-player{
    margin-left: 10vw;
    margin-bottom: 20px;
}

.video-header{
    margin-left: 10vw;
    font-size: large;
}

.video-title{
    margin-bottom: 10px;;
}

.video-options{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.video-option{
    width: 125px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
    background-color: #f9f9f9;
    border:none;
    cursor: pointer;
    font-weight:600;
}

hr{
    width:70%;
    margin-bottom: 10px;
}

.profile{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.user img {
    object-fit: cover;
    border-radius: 80%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.user-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-section{
    margin-left: 10vw;
}

.user-comment{
    display: flex;
    flex-direction: row;
}

textarea{
    width: 50vw;
}